#response-data {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title-response {
  margin-top: 1vh;
  margin-bottom: 5vh;
}

@media screen and (min-width: 1024px) {
  #result-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #response-data {
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
  }

  #cards-box {
    width: 80%;
    margin-bottom: 5vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 110px;
    justify-content: center;
    gap: 20px;
  }
  #title-response {
    width: 462px;
  }
}
