#FormContainer {
  background-color: rgba(222, 226, 230, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FormBox {
  min-width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FormBox input {
  width: 246px;
}
.InputsBox {
  height: 45vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 246px;
}

.ButtonBox {
  width: 248px;
  height: 10vh;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 4vh;
  display: flex;
}
.orange {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
}

#LeftButton {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 120px;
  height: 5vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#LeftButton:hover {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
  border: 2px solid black;
}
#LeftButton:focus {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
}
#RightButton:focus {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
}
#RightButton {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 120px;
  height: 5vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#RightButton:hover {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
  border: 2px solid black;
}

#inputField {
  border-bottom: 2px solid black;
  font-size: medium;
  font-weight: bold;
}
#red-label{
  color: red;
}
#red-input{
  border-bottom: 2px solid red;
  font-size: medium;
  font-weight: bold;
}
#error-message{
  color: red;
  font-size: 12px;
  margin-top: -10px;
}
#LeftButtonPre {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid black;
  width: 80px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#MiddleButtonPos {
  width: 80px;
  border: 1px solid black;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#RightButtonFix {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  width: 80px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#checkIcon {
  color: rgba(222, 226, 230, 1);
}
#LeftButtonPre:hover {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
  border: 2px solid black;
}
#LeftButtonPre:focus {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
}
#MiddleButtonPos:hover {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
  border: 2px solid black;
}
#MiddleButtonPos:focus {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
}

#RightButtonFix:hover {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
  border: 2px solid black;
}
#RightButtonFix:focus {
  background-color: rgba(242, 151, 68, 1);
  color: rgba(222, 226, 230, 1);
}

#send-clear-buttons {
  width: 248px;
  margin-top: 4vh;
}
#clearData {
  height: 5vh;
  width: 120px;
  border: 1px solid;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: black;
  font-weight: bolder;
  font-size: 16px;
}
#sendData {
  height: 5vh;
  border: 1px solid;
  width: 120px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  font-weight: bolder;
  background-color: rgb(156, 153, 153);
  font-size: 16px;
}
#clearData:hover {
  background-color: rgba(242, 151, 68, 1);
}
#sendData:hover {
  background-color: rgba(242, 151, 68, 1);
}
.title {
  display: flex;
  justify-content: space-between;
}
.formComponents {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .FormBox {
    align-items: flex-start;
    flex-direction: row;

    width: 550px;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
  }
  #send-clear-buttons {
    margin-left: -60%;
  }
  .formComponents {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1024px) {
  #send-clear-buttons {
    margin-left: -50%;
  }
  .formComponents {
    margin-top: 0px;
  }

  .FormBox {
    width: 510px;
  }
  #FormContainer {
    width: 50%;
    margin-left: 30px;
  }
}
